.flex-container {
  /* display: flex; */
  margin: 0 auto;
  padding-top: 0;
}
.flex-container div {
  border: 0px solid brown;
  height: 250px;
  /* flex: 1; */
}
.top {
  height: 50px;
  margin-top: 0%;
  margin-left: 0%;
  padding-left: 0%;
  text-align: end;
}

ul {
  list-style: none;
  float: right;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  font-family: Roboto;
}

.flex-item div {
    display: flex;
    color: #1f2937;
}
.flex-item:nth-of-type(1) div {
  background-color: #1f2937;
  flex: 1;
  flex-direction: row;
}

.flex-item:nth-of-type(1) h1 {
  font-weight: 500;
  color: aliceblue;
}

.flex-item:nth-of-type(1) p {
  color: #e5e7eb;
}

.flex-item:nth-of-type(2) img {
  float: right;
}

.flex-item:nth-of-type(2) div {
  background-color: white;
  display: flex;
  flex: 1;
  height: 80%;
}

.flex-container .two .child1 {
  background-color: white;
  flex: 2;
}

.flex-container .two .child2 {
  background-color: #e5e7eb;
}
